<h1>Services</h1>
<ul>
    {{!-- use each helper to loop through array from model hook (from routes/services.js--}}
    {{#each this.model as |service|}}
        <li>{{service}}</li>
    {{/each}}
</ul>